.TableClientes {
    width: 100%;

    .Cliente {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        &.Par {
            background-color: rgb(217, 224, 224);
        }
    }
}

form.FormularioNuevoCliente {
    display: flex;
    gap: 1rem;
    input {
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: none;
        box-shadow: 0 0 10px #dddddddd;
    }
}
